<h1>Hefaistus <%= @version %></h1>  
<h3><%=link_to "Home", "/" %>
<h2>Version History</h2>


<p><b>Release notes Hefaitus 0.01 at 13/05/2012 11:24</b></p>
<p>
	<b>Implementations</b>
	<ul>
	</ul>
	<br />

	<b>Melhorias</b>
	<ul>

	</ul>
	<br />

	<b>Bug Fixings</b>
	<ul>

	</ul>
</p>
<br />
<br />